name: Testing the Trigger Workflow Action

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-timeout:
    runs-on: ubuntu-latest
    name: Trigger long running workflow with timeout
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Determine Ref
        id: ref
        run: |
          if [ -n "$GITHUB_HEAD_REF" ];
          then
            echo "ref=${GITHUB_HEAD_REF}" >> $GITHUB_OUTPUT;
          else
            echo "ref=${GITHUB_REF##refs/*/}" >> $GITHUB_OUTPUT;
          fi;
        shell: bash
      - name: Trigger Another Workflow
        continue-on-error: true
        id: test
        uses: ./trigger-workflow
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "test-trigger-workflow-long-running-workflow.yml"
          ref: ${{ steps.ref.outputs.ref }}
          wait-for-completion-timeout: 10
          wait-for-completion-interval: 10
      - name: Fail if not failed
        if: ${{ success() && steps.test.outcome != 'failure' }}
        run: |
          echo "::error ::Previous job should have timed out. Conclusion was ${{ steps.test.conclusion }}"
          exit 1

  test-success:
    runs-on: ubuntu-latest
    name: Trigger workflow successfully
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Determine Ref
        id: ref
        run: |
          if [ -n "$GITHUB_HEAD_REF" ];
          then
            echo "ref=${GITHUB_HEAD_REF}" >> $GITHUB_OUTPUT;
          else
            echo "ref=${GITHUB_REF##refs/*/}" >> $GITHUB_OUTPUT;
          fi;
        shell: bash
      - name: Trigger Another Workflow
        uses: ./trigger-workflow
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "test-trigger-workflow-test-workflow.yml"
          ref: ${{ steps.ref.outputs.ref }}
          wait-for-completion-interval: 10

  test-failing-workflow:
    runs-on: ubuntu-latest
    name: Trigger failing workflow successfully
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Determine Ref
        id: ref
        run: |
          if [ -n "$GITHUB_HEAD_REF" ];
          then
            echo "ref=${GITHUB_HEAD_REF}" >> $GITHUB_OUTPUT;
          else
            echo "ref=${GITHUB_REF##refs/*/}" >> $GITHUB_OUTPUT;
          fi;
        shell: bash
      - name: Trigger Another Workflow
        id: test
        continue-on-error: true
        uses: ./trigger-workflow
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "test-trigger-workflow-failing-workflow.yml"
          ref: ${{ steps.ref.outputs.ref }}
      - name: Fail if not failed
        if: ${{ success() && steps.test.outcome != 'failure' }}
        run: |
          echo "::error ::Previous job should have failed. Conclusion was ${{ steps.test.conclusion }}"
          exit 1
