name: Test Python Actions

on:
  push:
    tags:
      - "v*"
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-poetry:
    runs-on: ubuntu-latest
    name: Install poetry
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install poetry
        uses: ./poetry
        with:
          working-directory: ${{ github.workspace }}/.github/workflows/test-python-project
      - run: poetry --version

  test-coverage:
    runs-on: ubuntu-latest
    name: Test Coverage Python
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install poetry
        uses: ./coverage-python
        with:
          working-directory: ${{ github.workspace }}/.github/workflows/test-python-project
          codecov-upload: false

  test-linting:
    runs-on: ubuntu-latest
    name: Test Linting Python
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install poetry
        uses: ./lint-python
        with:
          working-directory: ${{ github.workspace }}/.github/workflows/test-python-project
          packages: project

  test-pipx:
    runs-on: ubuntu-latest
    name: Test Pipx Install
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Pyhton
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v2.2.3
        id: python
        with:
          python-version: "3.11"
      - name: Install poetry
        uses: ./pipx
        with:
          install: mypy
          install-version: "1.0.0"
          python-path: ${{ steps.python.outputs.python-path }}
      - name: Run mypy
        run: |
          mypy --version
