name: Testing the Download Artifact Action

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-download-artifacts:
    runs-on: ubuntu-latest
    name: Test Artifact Downloading
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Determine Branch
        id: branch
        run: |
          if [ -n "$GITHUB_HEAD_REF" ];
          then
            echo "branch=${GITHUB_HEAD_REF}" >> $GITHUB_OUTPUT;
          else
            echo "branch=${GITHUB_REF##refs/*/}" >> $GITHUB_OUTPUT;
          fi;
        shell: bash
      - name: Trigger Artifact Uploading
        uses: ./trigger-workflow
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "test-download-artifacts-test-workflow.yml"
          ref: ${{ steps.branch.outputs.branch }}
      - name: Download Artifact
        uses: ./download-artifact
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "test-download-artifacts-test-workflow.yml"
          branch: ${{ steps.branch.outputs.branch }}
          name: artifact
      - name: Download Artifacts
        uses: ./download-artifact
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "test-download-artifacts-test-workflow.yml"
          branch: ${{ steps.branch.outputs.branch }}
      - name: Ignore missing workflow
        uses: ./download-artifact
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "foo-bar.yml"
          branch: ${{ steps.branch.outputs.branch }}
          name: artifact
          allow-not-found: true
      - name: Ignore missing artifact
        uses: ./download-artifact
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: greenbone/actions
          workflow: "test-download-artifacts-test-workflow.yml"
          branch: ${{ steps.branch.outputs.branch }}
          name: foo
          allow-not-found: true
