name: Test Signature Creation

on:
  push:
    tags:
      - "v*"
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-creating-signature-file:
    runs-on: ubuntu-latest
    name: Test creating signature file
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Create a signature file
        uses: ./signature
        with:
          gpg-key: ${{ secrets.TEST_GPG_KEY }}
          gpg-passphrase: ${{ secrets.TEST_GPG_PASSPHRASE }}
          gpg-fingerprint: ${{ vars.TEST_GPG_FINGERPRINT }}
          file: ./signature/action.yml
          signature-file: test.asc
      - name: Check the signature
        run: |
          gpg --verify test.asc ./signature/action.yml
      - name: Create a default signature file
        uses: ./signature
        with:
          gpg-key: ${{ secrets.TEST_GPG_KEY }}
          gpg-passphrase: ${{ secrets.TEST_GPG_PASSPHRASE }}
          gpg-fingerprint: ${{ vars.TEST_GPG_FINGERPRINT }}
          file: ./signature/action.yml
      - name: Check the signature
        run: |
          gpg --verify ./signature/action.yml.asc
