name: To be Triggered Upload Artifacts Test Workflow

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Create random file content
        run: |
          echo $RANDOM | sha256sum | cut -f 1 -d ' ' > content.txt
      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: artifact
          path: content.txt
          retention-days: 1
