name: Test Doc Coverage Actions

on:
  push:
    tags:
      - "v*"
    branches:
      - main
    paths:
      - "doc-coverage-clang/**"
      - ".github/workflows/test-doc-coverage.yml"
  pull_request:
    branches:
      - main
    paths:
      - "doc-coverage-clang/**"
      - ".github/workflows/test-doc-coverage.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-doc-cov-clang:
    runs-on: ubuntu-latest
    container: greenbone/doxygen
    name: Test doc coverage for c language
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run test
        uses: ./doc-coverage-clang
        continue-on-error: true
