name: Test sha256 Hashsum creation

on:
  push:
    tags:
      - "v*"
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-creating-sha256sums-file:
    runs-on: ubuntu-latest
    name: Test creating sha256sums file
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Create a sha256sums file
        uses: ./hashsums
        with:
          directory: ./hashsums
          filename: foosums
      - name: Check foosums content
        run: |
          if [ $(wc -l foosums | cut -d' ' -f1) -ne 2 ]; then
            echo "::error::The foosums file should contain two entries"
            exit 1
          fi
      - name: Create a default hashsums file
        uses: ./hashsums
        with:
          directory: ./hashsums
      - name: Check sha256sums content
        run: |
          if [ $(wc -l ./hashsums/sha256sums | cut -d' ' -f1) -ne 2 ]; then
            echo "::error::The sha256sums file should contain two entries"
            exit 1
          fi
