name: Run unittests

on:
  push:
    tags:
      - "v*"
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-backport-pull-request-tests:
    runs-on: ubuntu-latest
    name: Run unit tests for backport-pull-request action
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup project
        uses: greenbone/actions/poetry@main
        with:
          working-directory: backport-pull-request
      - name: Run unit tests
        run: poetry run python -m unittest
        working-directory: backport-pull-request
